* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

.app {
  margin: 0 auto;
  max-width: 550px;
  text-align: center;
}
